<agm-map 
    *ngIf="ready"
    [latitude]="map.origin.lat" 
    [longitude]="map.origin.lng" 
    [styles]="styles" 
    [zoom]="zoom"
    (mapClick)="mapClicked($event)"
    [style.height]="fullHeight"
    [disableDefaultUI]="disabledUI">

    <!-- events -->
    <agm-marker 
        *ngFor="let m of map.event; let i = index"
        (markerClick)="clickedMarker('New Event', i)"
        [latitude]="m.location.lat"
        [longitude]="m.location.lng"
        [iconUrl]="icons[m.type]"
        [markerDraggable]="false"
        (dragEnd)="markerDragEnd(m, $event)">
    
            <agm-info-window *ngIf="canClaim(m)">                   
                <div flex column>
                    <h4>{{m.name}}</h4>
                    <label>{{m.description}}</label> 
                    <div *ngIf="m.type == 1" flex row center>
                        <strong *ngIf="m.type == 1">x2</strong>                   
                    </div>                    
                    <button class="primary" (click)="claimEvent(m)">Claim</button>
                </div>                       
            </agm-info-window>
    
    </agm-marker>  
    
    <!-- user -->
    <agm-marker 
        *ngIf="user"                
        [latitude]="user.lat"
        [longitude]="user.lng"
        [iconUrl]="icons[100]"
        [markerDraggable]="false"></agm-marker>

</agm-map>