<grapple-view>
    <div flex column center grow view-body>
        <!-- <map-viewer [map]="map" [user]="testUser" flex grow></map-viewer>
        <div class="profile" flex column center>
            <div flex row center>
                <img src="./assets/hogs.png" />
            </div>            
            <label class="mt-60px">Lionel</label>
            <label flex row center>
                <span>10,344</span>
                <span>15,664</span>                
            </label>
            <ul flex row>
                <li fx-1>home</li>
                <li fx-1>leaders</li>
                <li fx-1>chat</li>
                <li fx-1>collects</li>
            </ul>
        </div> -->


        <!-- Views -->
        <mat-tab-group viewGroup>
            <!-- Home -->
            <mat-tab>
                <div flex column center grow tab-body *ngIf="user && position">
                    <map-viewer [map]="map" [position]="position" [user]="user" flex grow></map-viewer>                    
                    <!-- Profile -->
                    <div class="profile" flex column center>
                        <div flex row center>
                            <img src="{{user.avatar}}" (click)="account()" />
                        </div>            
                        <!-- <label class="mt-60px">Lionel</label> -->
                        <div flex row center>
                            <label flex row start fx-1 class="primary">
                                <!-- <small class="primary">Steps</small> -->
                                <span>{{steps}}</span>                                
                            </label>             
                            <label flex row end fx-1 class="secondary">                                
                                <!-- <small class="secondary">Bonus</small> -->
                                <span>{{bonus}}</span>                
                            </label>             
                        </div>           
                    </div>
                </div>
            </mat-tab>
            <!-- Leaders -->
            <mat-tab>
                <div flex column center grow>
                    <h3>Leaders</h3>
                    <div flex column grow>
                        <leader-list></leader-list>
                    </div>
                </div>
            </mat-tab>
            <!-- Chat -->
            <mat-tab>
                <div flex column center grow>
                    <h3>Chat</h3>                    
                </div>
            </mat-tab>
            <!-- Poker -->
            <mat-tab>
                <div flex column center grow *ngIf="user">
                    <h3>Poker Cards</h3>                    
                    <poker-cards [user]="user" grow></poker-cards>
                </div>
            </mat-tab>
        </mat-tab-group>
        <!-- Menu -->
        <nav flex column center>            
            <ul flex row>
                <li fx-1 (click)="viewGroup.selectedIndex = 0">
                    <i class="material-icons" [class.active]="viewGroup.selectedIndex == 0">directions_walk</i>
                </li>
                <li fx-1 (click)="viewGroup.selectedIndex = 1">
                    <i class="material-icons" [class.active]="viewGroup.selectedIndex == 1">grade</i>
                </li>
                <li fx-1 (click)="position = {lat: -36.737236559795434, lng: 146.970594227314}">
                    <i class="material-icons" [class.active]="viewGroup.selectedIndex == 2">chat_bubble</i>
                </li>
                <li fx-1 (click)="gotoCards()">
                    <i class="material-icons" [class.active]="viewGroup.selectedIndex == 3">content_copy</i>
                </li>
            </ul>
        </nav>
    </div>  
</grapple-view>