<grapple-view>
    <div view-head>
        <h4>Map Builder</h4>
        <button *ngIf="editMode">Save Map</button>
    </div>
    <div flex column center grow view-body>
        <!-- Views -->
        <mat-tab-group viewGroup>
            <!-- Selection -->
            <mat-tab>
                <div flex column center grow>
                    <h1 flex row center>Map Selection</h1>
                    <div flex row center>
                        <div class="map-tables mat-elevation-z8">
                            <mat-table #table [dataSource]="dataSource">
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                    <mat-cell *matCellDef="let map">
                                        <a (click)="mapEdit(map)">{{map.name}}</a>
                                    </mat-cell>
                                </ng-container>
                            
                                <!-- Weight Column -->
                                <ng-container matColumnDef="description">
                                    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                                    <mat-cell *matCellDef="let map"> {{map.description}} </mat-cell>
                                </ng-container>
                            
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </div>
                    </div>                    
                </div>
            </mat-tab>
            <!-- Edit -->
            <mat-tab>
                <div flex column center grow>
                    <map-maker [map]="maps[selectedMap]" *ngIf="editMode"></map-maker>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>  
</grapple-view>