<grapple-view>
    <div flex column center grow view-body>
        <div class="page" flex column center grow>
            <div flex row center>
                <i class="material-icons star">stars</i>
            </div>
            <h3 flex row center>Bright Allstars</h3>    
            <div class="buttons" flex column center>
                <button class="primary" (click)="fitbit()">I'm with FitBit</button>
                <button class="primary" (click)="apple()">I'm with Apple</button>
            </div>
        </div>
    </div>
</grapple-view>

