[view-body] {
    background: url(../../../../assets/yosemite.jpg);
    background-size: cover;
}

.page {
    background-color: rgba(83, 83, 83, 0.59);
}

.buttons {
    padding: 50px 10px;
}

.star {
    font-size: 90px;
    color: #eeeeee9e;
    border-radius: 50%;
    margin: 20px;
}

h3 {
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
    color: rgba(238, 238, 238, 0.67);
}

button {
    margin: 10px 0;
    padding: 20px 0;
}